/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 Core Styling
        1.3 Typography
    2. LAYOUT
        2.1 Core Layout
        2.2 Small only
        2.3 medium and up
        2.4 Medium only
        2.5 large screens and up
        2.6 Large only
    3. MODULES
    4. STATES
    5. THEME
    6. UTILITY classes
    7. PRINT

    refer to http://smacss.com/
    ========================================================================== */


/* ==========================================================================
   BASE
   ========================================================================== */


/* 1.1 Page Rendering Defaults */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
border: 0;
margin: 0;
padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
resize: vertical;
}

/* 1.2 Core Styling */

/* refer to https://css-tricks.com/box-sizing/ */
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.img-peewee {
  grid-column-start: 1;
  grid-column-end: 2;
  vertical-align: center;
}

.content-container-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; 
  column-gap: 1em;
}

.description-header {
  grid-column-start: 2;
  grid-column-end: 3;
  color: #fff;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}

.description-text {
  color: #fff;
  font-size: 8pt;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: light;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: -8em;
  overflow: hidden;
  -webkit-box-orient: vertical;
 -webkit-line-clamp: 10;
 display: -webkit-box;
}

.content-container-social-icons {
  display: flex;
  justify-content: center;
  gap: 3pt;
}

.btn-icons {
  width: 20%;
  height: 20%;
}

.about-header {
  color: #fff;
}

.content-container-about {
  color: #fff;
  font-size: 0.6rem;
  margin-top: 0;
}

.content-container-tweets-header {
  border-bottom: #de6262 1px solid;
  width: 75%;
  padding: 0;
  display: flex;
  justify-content: left;
}

.tweet-header {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  margin-bottom: 0;
}

.content-container-tweets {
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 0;
  padding-top: 1em;
  gap: 1em;
}

.tweet-icon {
  width: 10%;
  height: 10%;
}

.tweet-text {
  color: #fff;
  font-size: 8pt;
  margin-top: 0;
}

.tweet-link {
  color: #1bade6;
  font-weight: bold;
}

.flickr-header {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}

.newsletter-header {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}

.bottom-border {
  width: 100%;
  background-image: linear-gradient(90deg, rgba(22,36,47,1) 0%, rgba(22,36,47,1) 25%, rgba(37,195,137,1) 25%, rgba(37,195,137,1) 35%, rgba(255,185,1,1) 35%, rgba(255,185,1,1) 45%, rgba(222,98,98,1) 45%, rgba(222,98,98,1) 55%, rgba(22,145,189,1) 55%, rgba(22,145,189,1)  65%, rgba(22,107,162,1) 65%, rgba(22,107,162,1) 75%, rgba(22,36,47,1) 75%, rgba(22,36,47,1) 100%);
  margin-bottom: -3em;
  margin-top: 5em;
}

/* 1.3 Typgraphy */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  text-align: center;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


/* ==========================================================================
 2. LAYOUT
 ========================================================================== */


/* Helper to display empty layout containers*/

div,
main,
section,
footer,
header {
  min-height: 1rem;
  padding: 1rem;
}


/* 2.1 Core layout */

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
  background-color: rgb(242, 230, 177);
}


/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 Taken from https://get.foundation/sites/docs-v5/media-queries.html
 (the latest version is adjusted and no longer matches the ones used below)
 ========================================================================== */


/* 2.2 Small only */

@media screen and (max-width: 39.9375em) {
  .s-hide {
      display: none;
  }

  .what-we-do-container-header {
    align-content: center;
    text-align: center;
  }

  .icons {
      max-width: 5em;
      max-height: 5em;
      float: left;
      margin-right: 1em;
  }

  h3 {
      text-align: left;
      margin: 0;
      font-weight: bold;
  }

  .what-we-do-container-body {
      text-align: left;
  }

  .what-we-do-container-body p {
    margin-left: 6em;
  }

  .whats-new-header {
    text-align: center;
  }

  .whats-new-body-1 {
    display: none;
  }

  .latest-projects-header {
    align-content: center;
    text-align: center;
  }
  .latest-projects-header p {
    text-align: center;
  }

  .latest-projects-body {
    display: none;
  }
.accordion-body {
  display: none;
}
.things-above-header {
  display: none;
}

.section-clients {
  display: none;
}

  
  .content-container-flickr-header {
    display: none;
  }

  .content-container-flickr-photos {
    display: none;
  }

  .content-container-newsletter-header {
    display: none;
  }

  .content-container-newsletter {
    display: none;
  }

}


/* 2.3 medium and up */

@media screen and (min-width: 40em) {
  .row {
      max-width: 70rem;
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      margin: 0 auto;
  }
  .grid {
      display: grid;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
  }
  .m-col-2 {
      grid-template-columns: 1fr 1fr;
  }
  .m-col-3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .m-col-4 {
      grid-template-columns: repeat(4, 1fr);
  }
  .m-col-5 {
      grid-template-columns: repeat(5, 1fr);
  }
  .m-1-2 {
      grid-template-columns: 1fr 2fr;
  }

  .what-we-do-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .icons {
    max-width: 10em;
    max-height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .what-we-do-container-header {
    align-content: center;
    text-align: center;
  }

  .what-we-do-container-body p {
    text-align: center;
  }

  .what-we-do-container-body h3 {
    text-align: center;
    font-weight: bold;
  }

  .whats-new-body-4 {
    display: none;
  }

  .whats-new-body-5 {
    display: none;
  }

  .whats-new-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .whats-new-body-1 {
    grid-column: 1 / -1;
  }

  .whats-new-header {
    text-align: center;
  }

  .latest-projects-body-mobile {
    display: none;
  }

  .latest-projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .latest-projects-header {
    align-content: center;
    text-align: center;
  }
  .latest-projects-header p {
    text-align: center;
  }


  .footer-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 1em;
  }

  .content-container-description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img-peewee {
    max-width: 40%;
    padding: 0;
  }

  .description-header {
    align-self: start;
    margin-top: 0;
    margin-left: -10rem;
  }

  .description-text {
    align-self: start;
    margin-left: -10rem;
  }

  .about-header-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    border-bottom: #21c183 1px solid;
    padding: 0;
    line-height: 0;
  }

  .about-header {
    text-align: left;
    font-size: 12pt;
  }

  .content-container-about {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 1rem;
  }

  .content-container-social-icons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 70%;
    align-self: end;
    margin-bottom: 2em;
  }

  .content-container-tweets-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: start;
    border-bottom: #de6262 1px solid;
    padding: 3pt;
  }

  .tweet-header {
    text-align: left;
  }

  .content-container-tweets {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .first {
    align-self: center;
  }

  .end {
    align-self: end;
  }

  .content-container-flickr-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    padding: 0;
    border-bottom: #f8ba0d 1px solid;
    line-height: 0;
  }

  .flickr-header {
    text-align: left;
  }

  .content-container-flickr-photos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 90%;
    align-self: end;
    justify-self: center;
  }

  .content-container-newsletter-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: start;
    padding: 0;
    border-bottom: #f8ba0d 1px solid;
    line-height: 0;
  }

  .newsletter-header {
    text-align: left;
  }

  .content-container-newsletter {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
  }

  .newsletter-text {
    color: #fff;
    font-size: 8pt;
  }

  .emailinput {
    color: #fff;
    background-color: #de6262;
    font-size: 8pt;
    padding: 1em;
  }

  .mail-icon-container {
    margin-top: -3em;
    max-width: 30%;
  }

  .bottom-border {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: end;
  }
=======
  .accordion {
    margin: auto;
    color: black;
  }
  
  .accordion .accordion-container {
    position: relative;
    margin: 10px 10px;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .accordion-label {
    position: relative;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: #19b2de;
  }
  
  /* Positions the plus sign 5px from the right. Centers it using the transform property. */
  
  .accordion .accordion-label::before {
    content: '+';
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #19b2de;
  }
  
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .accordion-content {
    position: relative;
    height: 0;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion-content {
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #f8f8f8;
  }
  
  
  /* Unhides the content part when active. Sets the height */
  
  .accordion .accordion-container.active .accordion-content {
    height: 200px;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .accordion-container.active .accordion-label::before {
    content: '-';
  }
  
  .icons-accordion {
      max-width: 7em;
      max-height: 7em;
      display: block;
      margin-left: auto;
      margin-right: 1em;
      width: 50%;
      float: left;
  }
  
    .accordion-container p {
      text-align: left;
      padding-left: 2em;
    }
  
    .accordion-container h3 {
      text-align: left;
      font-weight: bold;
      padding-top: 0;
      margin-top: 0;
    }
  
    .accordion-body {
      column-span: all;
    }
  
    .accordion-label h3 {
      text-align: left;
      font-weight: bold;
      margin: auto;
    }

    .things-above-header p {
      text-align: center;
      align-items: center;
      align-self: center;
      align-content: center;
    }


.clients-section {
  display: grid;
  column-span: all;
}
  
}


/* 2.4 Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .m-row-span {
      grid-column-start: 1;
      grid-column-end: -1;
  }
  .m-hide {
      display: none;
  }
}


/* 2.5 large screens and up 2.6 Large only */

@media screen and (min-width: 64em) {
  .l-col-2 {
      grid-template-columns: 1fr 1fr;
  }
  .l-col-3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
      grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
      grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
      grid-template-columns: repeat(6, 1fr);
  }
  .l-row-span {
      grid-column-start: 1;
      grid-column-end: -1;
  }
  .l-hide {
      display: none;
  }

  .what-we-do-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .icons {
    max-width: 10em;
    max-height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .what-we-do-container-header {
    align-content: center;
    text-align: center;
  }


  .what-we-do-container-body p {
    text-align: center;
  }

  .what-we-do-container-body h3 {
    text-align: center;
    font-weight: bold;
  }

  .whats-new-body-1 {
    display: none;
  }

  .whats-new-body-4 {
    display: initial;
  }

  .whats-new-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .latest-projects-body-mobile {
    display: none;
  }

  .latest-projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .latest-projects-header {
    align-content: center;
    text-align: center;
  }
  .latest-projects-header p {
    text-align: center;
  }
  
  .accordion {
    margin: auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .accordion .accordion-container {
    position: relative;
    margin: 10px 10px;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .accordion-label {
    position: relative;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: #19b2de;
  }
  
  /* Positions the plus sign 5px from the right. Centers it using the transform property. */
  
  .accordion .accordion-label::before {
    content: '+';
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #19b2de;
  }
  
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .accordion-content {
    position: relative;
    height: 0;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion-content {
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #f8f8f8;
  }
  
  
  /* Unhides the content part when active. Sets the height */
  
  .accordion .accordion-container.active .accordion-content {
    height: 200px;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .accordion-container.active .accordion-label::before {
    content: '-';
  }
  
  .icons-accordion {
      max-width: 7em;
      max-height: 7em;
      display: block;
      margin-left: auto;
      margin-right: 1em;
      width: 50%;
      float: left;
  }
  
    .accordion-container p {
      text-align: left;
      padding-left: 2em;
    }
  
    .accordion-container h3 {
      text-align: left;
      font-weight: bold;
      padding-top: 0;
      margin-top: 0;
    }
  
    .accordion-body {
      column-span: all;
    }
  
    .accordion-label h3 {
      text-align: left;
      font-weight: bold;
      margin: auto;
    }

    .things-above-header p {
      text-align: center;
      align-items: center;
      align-self: center;
      align-content: center;
    }


.clients-section {
  display: grid;
  column-span: all;
}

}


/* ==========================================================================
 2. MODULES
 ========================================================================== */


/* ==========================================================================
 2. STATES
 ========================================================================== */


/* ==========================================================================
 2. THEME
 ========================================================================== */

footer {
  background-color: #16242f;
}

/* ==========================================================================
 6. UTILITY classes
 ========================================================================== */
/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visually-hidden {
border: 0;
clip: rect(0, 0, 0, 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
white-space: nowrap;
width: 1px;
/* 1 */
}

/*
* Extends the .visually-hidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
white-space: inherit;
width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* The use of `table` rather than `block` is only necessary if using
* `::before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
content: "";
display: table;
}

.clearfix::after {
clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */

@media print {
*,
*::before,
*::after {
  background: #fff !important;
  color: #000 !important;
  /* Black prints faster */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]::after {
  content: " (" attr(href) ")";
}

abbr[title]::after {
  content: " (" attr(title) ")";
}

/*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */
a[href^="#"]::after,
a[href^="javascript:"]::after {
  content: "";
}

pre {
  white-space: pre-wrap !important;
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}

